.photo {
   display: block;
   height: 15rem;
   aspect-ratio: 1;
   border: 1px solid #000;
   border-radius: 100vw;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   img {
      height: 100%;
      width: 100%;
   }
}
