@import url("./base.scss");

// header
.header {
   background-color: var(--main-blue);
   nav {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      padding: 1rem 1.25rem;
   }

   .logo {
      color: var(--dark-blue-text);
      font-size: 3rem;
      font-weight: 700;
      transition: all 0.15s ease;
   }

   ul {
      display: flex;
      gap: 1.25rem;
      align-items: center;
   }
}

//Aside
.aside {
   ul {
      display: flex;
      align-items: center;
      gap: 1.25rem;
   }
   background-color: var(--dark-blue-text);
}

// icons
.icons-list img {
   display: block;
   height: 4rem;
   aspect-ratio: 1;
}

.burger-menu {
   position: relative;
   z-index: 2;
   display: block;
   height: 4rem;
   aspect-ratio: 1;
   svg {
      width: 100%;
      height: 100%;
      stroke: var(--dark-blue-text);
      transition: all 0.15s ease;
   }
}

// BreakPoints

@media (width > 660px) {
   .burger-menu.--active {
      // .burger-menu:active{
      svg {
         stroke: var(--main-blue);
      }
   }

   .aside {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100dvh;

      //transfrom
      transform: translate(-100%, 0);
      transition: all 0.15s ease;

      padding: 1rem 1.25rem;
      padding-top: calc(6rem + 1rem);
      display: inline-flex;

      ul{
         flex-direction: column;
      }
   }

   .aside.--active {
      transform: translate(0, 0);
   }

   .logo {
      margin-left: 1.25rem;
   }
}

@media (width <= 660px) {
   li:has(.burger-menu) {
      display: none;
   }

   .aside {
      padding: 1rem 1.25rem;
      position: absolute;
      top: 100%;
      transform: translate(0,-100%);
      width: 100%;
      ul {
         justify-content: space-evenly;
      }
   }
}
